#academic{
    font-size: 3rem;
}
#ds{
    font-family: 'Indie Flower', cursive;
}
.card-text{
    font-size: 15px;
}
#navbarSupportedContent, #ds{
    font-size: 20px;
}

#footer{
    background-color: #223894;
    color: white;
}
a{
    color: white;
}
.imagen{
    max-height: 400px;
    margin: auto;
    
}
body{
    background-color: #ecfcff;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
h1{
    margin: auto;
    text-align: center;
}
.display-2{
    font-size: 5rem ;
    font-display: swap;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#typed{
    font-size: 1.8em;
}
.title1{
    font-size: 100em;
}
#presentacion{
    height: 90%;
    width: 90%;
    margin: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
.card{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
#facebook{
    margin: 10px 10px 10px 10px;
    color: black;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.texto{
    text-align: center;
}
.imagecard{
    max-height: 200px;
    
}
.card img{
    max-height: 300px;
}


a.btn-social, .btn-social
{
    border-radius: 100%;
    color: #ffffff !important;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    width: 80px;
}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    transform: scale(1);
    transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    transform: scale(2);
}
.btn-facebook, .btn-instagram, .btn-github, .btn-email
{
    padding: 5px;
    background-color: #000;
}
